
<div class="upload-file">
    <input hidden="true"  type="file" accept=".csv" id="file-input" (change)="changeListener($event)">
        <label for="file-input">
        <a md-raised-button class="btn"><i class="material-icons">file_upload</i> 
            Загрузить файл
        </a>
        </label>
</div>


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
     <p [title]="node.comments"> {{node.name}}</p>
      <button mat-icon-button (click)="createComments(node)" ><mat-icon>add</mat-icon></button>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
     
      <p [title]="node.comments"> {{node.name}}</p>
      <button mat-icon-button (click)="createComments(node)"><mat-icon>add</mat-icon></button>

    </mat-tree-node>
  </mat-tree>